{% extends 'base.html' %}
{% load static %}

{% block body %}

<div class="login-box-container">
    <div class="login-design-container">
        <div class="login-box-heading">
            SignUp 
        </div>
        <div class="login-box-form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="login-username">
                    <span>username</span>
                    <input type="text" id="username" name="username">
                    
                </div>
                <div class="login-username">
                    <span>Email Id</span>
                    </br>
                    <input type="Email" id="email" name="email">
                </div>
                
                <div class="login-password">
                    <span>Password</span>
                    </br>
                    <input type="password" id="password" name="password">
                </div>
                <div class="login-buttons">
                    <button type="submit">SignUp</button>
                </div>
            </form>
        </div>
    </div>
</div>



{% endblock body %}